{#
*    SimpleSAMLphp Bootstrap Theme
*    Version 0.2.1
*
*    SimpleSAMLphp Bootstrap Theme is a child theme for SimpleSAMLphp that outputs certain visitor facing
*    pages via Bootstrap front-end framework. Intended to deliver a seamless look and feel when the
*    visitor already comes from a project based on a Bootstrap layout.
*
*    Documentation: https://github.com/disisto/simplesamlphp-bootstrap-theme
*    
*
*    Licensed under MIT (https://github.com/disisto/simplesamlphp-bootstrap-theme/blob/main/LICENSE)
*
*    Copyright (c) 2023 Roberto Di Sisto
*
*    Permission is hereby granted, free of charge, to any person obtaining a copy
*    of this software and associated documentation files (the "Software"), to deal
*    in the Software without restriction, including without limitation the rights
*    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
*    copies of the Software, and to permit persons to whom the Software is
*    furnished to do so, subject to the following conditions:
*
*    The above copyright notice and this permission notice shall be included in all
*    copies or substantial portions of the Software.
*     
*    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
*    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
*    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
*    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
*    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
*    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
*    SOFTWARE.
#}

{% set pagetitle = 'Enter your username and password'|trans %}
{% block is_login %}true{% endblock %}
{% extends "bootstrap.twig" %}

{% block postload %}
    <script src="{{ asset('js/loginuserpass.js', 'core') }}"></script>
{% endblock %}

{% block content %}
    {%- if not isProduction %}

    <div class="alert alert-warning mt-4" role="alert">
      {% trans %}You are now accessing a pre-production system. This authentication setup is for testing and pre-production verification only. If someone sent you a link that pointed you here, and you are not <i>a tester</i> you probably got the wrong link, and should <b>not be here</b>.{% endtrans %}
    </div>
    {% endif -%}
    {% if errorcode -%}
    <div class="alert alert-warning mt-4" role="alert">
      {% set errtitles = errorcodes['title'] %}
      {% set errtitle = errtitles[errorcode] %}

      <h4 class="alert-heading">{{ errtitle|trans(errorparams) }}</h4>

      {% set errdescs = errorcodes['descr'] %}
      {% set errdesc = errdescs[errorcode] %}
              
      <p>{{ errdesc|trans(errorparams) }}</p>
    </div>
    {%- endif %}

    <div>
        <form id="f" action="{{ moduleURL('core/loginuserpass', {'AuthState': AuthState}) }}"
            method="post" name="f" spellcheck="false" novalidate="novalidate">

		{% if logo|default(null) is not null and logo|default(null) is not empty %}
                   <img class="mx-auto d-block" src="{{ logo }}" alt="" width="72" height="57">
		{% endif %}

                <div class="form-floating mt-4">
                    <input id="username" {{ forceUsername ? 'disabled' }} placeholder="name@example.com" type="email" name="username" class="form-control"
            {%- if not forceUsername %} tabindex="1" value="{{ username }}" autocomplete="username" {% endif %}
            {%- if not forceUsername and not username %} autofocus {% endif %} >
                    <label for="username">{{ forceUsername ? username : 'Username'|trans }}</label>
                {% if rememberUsernameEnabled and not forceUsername -%}
                </div>
                <div class="form-check text-start my-3">
                    <label for="remember_username" class="form-check-label">
                        <input id="remember_username" type="checkbox" tabindex="4" class="form-check-input"
                                {{ rememberUsernameChecked ? 'checked' }} name="remember_username" value="Yes">
                        <small>{{ 'Remember my username'|trans }}</small>
                    </label>
                {%- endif %}
                </div>

                <div class="form-floating">
                    <input id="password" type="password" tabindex="2" name="password" class="form-control" autocomplete="current-password" placeholder="Password"
                    {%- if forceUsername or username %} autofocus {% endif %} >
                    <label for="password">{{ 'Password'|trans }}</label>
                    <div class="password-toggle">
                      <svg class="bi eye-icon opacity-50" width="1.75em" height="1.75em">
                        <use href="#eye"></use>
                      </svg>
                     </div>
                </div>

                {% if rememberMeEnabled -%}
                <div class="form-check text-start my-3">
                    <label for="remember_me" class="form-check-label">
                    <input id="remember_me" type="checkbox" tabindex="5" class="form-check-input"
                            {{ rememberMeChecked ? 'checked="checked"' }} name="remember_me" value="Yes">
                        <small>{{ 'Remember me'|trans }}</small>
                    </label>
                </div>
                {%- endif %}

                {% if organizations is defined -%}
                <div class="form-floating">
                    <label for="organization">{{ 'Organization'|trans }}</label>
                        <select name="organization" id="organization" tabindex="3" class="form-select">
                            {{ selectedOrg ?: null }}
                            {%- for id, orgDesc in organizations -%}
                                {% if id == selectedOrg -%}
                                    {%- set selected = 'selected="selected"' %}
                                {%- else -%}
                                    {% set selected = '' -%}
                                {% endif -%}
                                {% if orgDesc -%}
                                    <option value="{{ id }}" {{ selected }}>{{ orgDesc|trans }}</option>
                                {% endif -%}
                            {% endfor %}
                        </select>
                    {% if rememberOrganizationEnabled is defined -%}
                    <div class="form-check text-start my-3">
                        <label for="remember_organization" class="form-check-label">
                            <input type="checkbox" id="remember_organization" tabindex="5" name="remember_organization" class="form-check-label"
                                value="Yes" {{ rememberOrganizationChecked ? 'checked="checked"' }} >
                            <small>{{ 'Remember my organization'|trans }}</small>
                        </label>
                    </div>
                    {%- endif %}
                </div> <!-- form-floating -->
            {%- endif %}

            <button class="btn btn-primary w-100 py-2 mt-4" id="submit_button"
                     type="submit" tabindex="6" data-default="{% trans %}Login{% endtrans %}"
                     data-processing="{% trans %}Processing...{% endtrans %}">
             {% trans %}Login{% endtrans %}
            </button>

        {% if  (copyrightyear|default(null) is not null and copyrightyear|default(null) is not empty) or (copyrightsignature|default(null) is not null and copyrightsignature|default(null) is not empty) %}
            <p class="mt-5 mb-3 text-center text-body-secondary">&copy;

             {% if copyrightyear is defined and copyrightyear is not null %}
               {{ copyrightyear }}
             {% endif %}
        
             {% if copyrightsignature is defined and copyrightsignature is not null %}
               {{ copyrightsignature }}
            {% endif %}
           </p>
         {% endif %}

        </form>
    </div>
    {% if loginpage_links is defined -%}
    <ul>
        {% for link in loginpage_links -%}
        <li><a href="{{ link.href }}">{{ link['text']|trans }}</a></li>
        {% endfor %}
    </ul>
    {%- endif %}

{% endblock %}
