{#
*    SimpleSAMLphp Bootstrap Theme
*    Version 0.2.0
*
*    SimpleSAMLphp Bootstrap Theme is a child theme for SimpleSAMLphp that outputs certain visitor facing
*    pages via Bootstrap front-end framework. Intended to deliver a seamless look and feel when the
*    visitor already comes from a project based on a Bootstrap layout.
*
*    Documentation: https://github.com/disisto/simplesamlphp-bootstrap-theme
*    
*
*    Licensed under MIT (https://github.com/disisto/simplesamlphp-bootstrap-theme/blob/main/LICENSE)
*
*    Copyright (c) 2023 Roberto Di Sisto
*
*    Permission is hereby granted, free of charge, to any person obtaining a copy
*    of this software and associated documentation files (the "Software"), to deal
*    in the Software without restriction, including without limitation the rights
*    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
*    copies of the Software, and to permit persons to whom the Software is
*    furnished to do so, subject to the following conditions:
*
*    The above copyright notice and this permission notice shall be included in all
*    copies or substantial portions of the Software.
*     
*    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
*    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
*    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
*    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
*    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
*    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
*    SOFTWARE.
#}

<header id="header">
  <nav class="navbar fixed-top">
    <div class="container-fluid justify-content-end">

        <div class="mb-2 me-2 mb-md-0">

            <form class="row g-1" id="language-form" method="get">
            <div class="col-auto">
                <div id="languageform">
                {% for name, value in queryParams %}
                    {% if value %}
                    <input type="hidden" name="{{ name }}" value="{{ value }}">
                    {% else %}
                    <input type="hidden" name="{{ name }}">
                    {% endif %}
                {% endfor %}
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="language-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    {% for key, lang in languageBar %}
                    {% if key == currentLanguage %}
                        <span class="d-none d-sm-inline">
                            <svg class="bi me-1 mb-1 opacity-100 theme-icon" width="1em" height="1em" fill="currentColor"><use href="#translate"></use></svg>
                            {{ lang.name }}
                        </span>
                    {% endif %}
                    {% endfor %}
                    <span class="d-sm-none">
                        <svg class="bi me-1 mb-1 opacity-100 theme-icon" width="1em" height="1em" fill="currentColor"><use href="#translate"></use></svg>
                    </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lang shadow" aria-labelledby="language-dropdown">
                    {% for key, lang in languageBar %}
                        <li>
                        <a class="dropdown-item {% if key == currentLanguage %}active{% endif %}" href="#" onclick="document.getElementById('language-selector').value = '{{ key }}'; this.closest('form').submit();">
                            {{ lang.name }}
                        </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <input type="hidden" class="form-select" name="language" id="language-selector">
                </div>
            </div>
            </form>
            
        </div>

          <div class="btn-group mb-2  mb-md-0">
            <button class="btn btn-outline-secondary dropdown-toggle d-flex align-items-center"
              id="bd-theme"
              type="button"
              aria-expanded="false"
              data-bs-toggle="dropdown"
              aria-label="Toggle theme (auto)">
              <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half" fill="gray"></use></svg>
              <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
            </button>

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-theme shadow" aria-labelledby="bd-theme-text">
              <li>
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#sun-fill"></use></svg>
                  Light
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
              </button>
              </li>
              <li>
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
                  Dark
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
              </button>
              </li>
              <li>
              <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#circle-half"></use></svg>
                  Auto
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
              </button>
              </li>
            </ul>
          </div>

    </div>
  </nav>
</header>
