{#
*    SimpleSAMLphp Bootstrap Theme
*    Version 0.2.1
*
*    SimpleSAMLphp Bootstrap Theme is a child theme for SimpleSAMLphp that outputs certain visitor facing 
*    pages via Bootstrap front-end framework. Intended to deliver a seamless look and feel when the 
*    visitor already comes from a project based on a Bootstrap layout.
*
*    Documentation: https://github.com/disisto/simplesamlphp-bootstrap-theme
*    
*
*    Licensed under MIT (https://github.com/disisto/simplesamlphp-bootstrap-theme/blob/main/LICENSE)
*
*    Copyright (c) 2023 Roberto Di Sisto
*
*    Permission is hereby granted, free of charge, to any person obtaining a copy
*    of this software and associated documentation files (the "Software"), to deal
*    in the Software without restriction, including without limitation the rights
*    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
*    copies of the Software, and to permit persons to whom the Software is
*    furnished to do so, subject to the following conditions:
*
*    The above copyright notice and this permission notice shall be included in all
*    copies or substantial portions of the Software.
*     
*    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
*    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
*    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
*    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
*    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
*    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
*    SOFTWARE.
#}

  {# ############################
  ##### Customization Start #####
  ############################ #}

  {# ############
  ### FAVICON ###
  ###############

  Remove favicon:
  A) Remove the line beginning with {% set favicon... or
  B) Set value to NULL
  e.g. {% set favicon = null %}

  Replace favicon:
  A)  Upload file and set correct path (/modules/bootstrap/public/assets)
  e.g. {% set favicon = asset("favicon.ico", 'bootstrap') %}

  B)  Link to external URL with desired file
  e.g. {% set favicon = 'https://getbootstrap.com/docs/5.3/assets/img/favicons/favicon.ico' %}

  ############ #}

{% set favicon = asset("vendor/bootstrap/5.3.2/img/favicon.ico", 'bootstrap') %}

  {# ############ 
  #### LOGO #####
  ###############

  Remove logo:
  A) Remove the line beginning with {% set logo... or
  B) Set value to NULL
  e.g. {% set logo = null %}

  Replace logo:
  A)  Upload file and set correct path (/modules/bootstrap/public/assets)
  e.g. {% set logo = asset("logo.png", 'bootstrap') %}

  B)  Link to external URL with desired file
  e.g. {% set logo = 'https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg' %}

  ############ #}

{% set logo = asset("vendor/bootstrap/5.3.2/img/bootstrap-logo.svg", 'bootstrap') %}

  {# ############
  #### Year #####
  ###############

  Remove year:
  A) Remove the line beginning with {% set copyrightyear... or
  B) Set value to NULL
  e.g. {% set copyrightyear = null %}

  Show only current year:
  e.g. (c) 2023
  {% set copyrightyear = year %}

  Show since establishment to current year:
  e.g. (c) 2011-2023
  {% set copyrightyear = '2011-' ~ year %}

  ############ #}

{% set copyrightyear = year %}

  {# ############
  ## Signature ##
  ###############

  Remove signature:
  A) Remove the line beginning with {% set copyrightsignature... or
  B) Set value to NULL
  e.g. {% set copyrightsignature = null %}

  Show desired entry:
  e.g. (c) The Bootstrap Authors
  {% set copyrightsignature = 'The Bootstrap Authors' %}

  ############ #}

{% set copyrightsignature = null %}

  {# ############################
  ###### Customization End ######
  ############################ #}


{% apply spaceless %}

<!doctype html>
<html lang="{{ currentLanguage }}" dir="{{ isRTL ? 'rtl' : 'ltr' }}" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <meta name="theme-color" content="">

    <title>{{ pagetitle }}</title>
    <link rel="stylesheet" href="{{ asset("vendor/bootstrap/5.3.2/css/bootstrap.min.css", 'bootstrap') }}">
    <link rel="stylesheet" href="{{ asset("css/sign-in.min.css", 'bootstrap') }}">
    {% if favicon|default(null) is not null and favicon|default(null) is not empty %}
      <link rel="icon" href="{{ favicon }}">
    {% endif %}

    <script src="{{ asset("vendor/bootstrap/5.3.2/js/color-modes.min.js", 'bootstrap') }}"></script>
    {{ include('_head.twig', ignore_missing = true) }}
    {% block preload %}{% endblock %}
  </head>
  <body class="d-flex align-items-center py-4 bg-body-tertiary" id="{{ templateId }}">

    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
      </symbol>
      <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
      </symbol>
      <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
      </symbol>
      <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
      </symbol>
      <symbol id="translate" viewBox="0 0 16 16">
	<path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/>
	<path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/>
      </symbol>
      <symbol id="check2-circle" viewBox="0 0 16 16">
        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/> 
      </symbol>
      <symbol id="eye-slash" viewBox="0 0 16 16">
        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
        <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
      </symbol>
      <symbol id="eye" viewBox="0 0 16 16">
        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
      </symbol>
      <symbol id="clipboard" viewBox="0 0 16 16">
        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
      </symbol>
    </svg>

     {% block header %}{% include "_bootstrap_header.twig" %}{% endblock %}

    {% if block('is_error') is defined %}
      <main class="container-xxl bd-gutter m-auto">
    {% else %}
      <main class="form-signin w-100 m-auto">
    {% endif %}

      {% block content %}{% endblock %}

    </main>

    <script src="{{ asset("vendor/bootstrap/5.3.2/js/bootstrap.bundle.min.js", 'bootstrap') }}"></script>
  {% if block('is_login') is defined %}
    <script src="{{ asset("js/bootstrap.five.passwordShowHide.min.js", 'bootstrap') }}"></script>
  {% endif %}
  {% if block('is_error') is defined %}
    <script src="{{ asset("js/bootstrap.five.copyToClipboard.min.js", 'bootstrap') }}"></script>
    <script src="{{ asset("vendor/bootstrap/5.3.2/js/disablingFormSubmissions.min.js", 'bootstrap') }}"></script>
  {% endif %}


    </body>
</html>
{% endapply %}
